#home-hero {
    background-color: rgba(220, 220, 220, 0.4) !important;
}

.personal-img {
    width: 200px;
    height: 200px;
}

.divider {
    margin: 5rem 0;
}

.footer {
    height: 200px;
}

.navbar-nav > li {
    /*border-right: 1px solid #a49c9c;*/
    /*margin-top: 2px;*/
}

.navbar-nav > li:last-child {
    border: none;
}

form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}