{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    | {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container min-vh-100 mt-5">
        <div class="row my-3">
            {# === product image === #}
            <div class="col-md-8 mb-2">
                {% thumbnail product.image "750x500" crop='center' as im %}
                    <img class="img-fluid rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                {% endthumbnail %}
            </div>
            {# === end product image === #}
            {# === product details === #}
            <div class="col-md-4 align-items-center">
                <div class="row">
                    <div class="col">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="col">
                        <div class="text-end">
                            <h4><strong>${{ product.price }}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <p>Categories:</p>
                        <p>
                            {% for category in product.get_categories %}
                                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col">
                        <div class="text-end">
{#                            {% if not product.available %}#}
{#                                <p class="text-danger">SOLD OUT</p>#}
{#                            {% endif %}#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="my-3"> {{ product.description }}</h5>
                </div>
            </div>

            <div class="col align-self-end text-end">
                {% if product.available %}
                    <form action="{% url "cart:cart_add" product.id %}" method="POST">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input class="btn btn-md btn-outline-success" type="submit"
                               value="Add to cart">
                    </form>
                {% else %}
                    <p class="text-danger"><strong>SOLD OUT</strong></p>
                {% endif %}
            </div>
            {# === end product details === #}
        </div>

        {# === Related products === #}
        {% if related_products|length > 0 %}
            <div class="row my-4">
                <h3 class="text-center">Related Items</h3>
                <p class="fs-5">View these other {{ product.category|lower }} items.</p>
            </div>
            <div class="row">
                {% for related_product in related_products %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        {% thumbnail related_product.image "500x300" crop='center' as im %}
                            <a href="{% url 'shop:product_detail' related_product.id related_product.slug %}">
                                <img class="img-fluid rounded" src="{{ im.url }}" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            </a>
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}