{% extends 'base.html' %}
{% load  static %}

{% block title %}
    {% if category %}
        | {{ category }}
    {% else %}
        | Products
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <h3 class="">Categories</h3>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url 'shop:product_list_by_category' category.slug %}" class="list-group-item list-group-item-action">{{ category}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-9">
                <div class="container min-vh-100 pt-5" id="featured">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
                        {% for product in products %}
                            {% include 'shop/product/product_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>s
{% endblock %}