{#  === displays product details in card === #}
{# Has access to 'product' from view which is an instance of the Product model. #}
{% load thumbnail %}
<div class="card shadow-sm">

    <div class="text-center">
        <a href="{{ product.get_absolute_url }}">
            {% thumbnail product.image "360x240" crop='center' as im %}
                <img class="img-fluid p-1 rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>{{ product.name }}</h3>
            {% if product.quantity > 0 %}
                <p><strong>${{ product.price }}</strong></p>
            {% else %}
                <p class="text-danger"><strong>SOLD OUT</strong></p>
            {% endif %}
        </div>
        <div class="d-flex">
            <p class="card-text">
                {{ product.description|truncatewords:10 }}
            </p>
        </div>

        <div class="d-flex justify-content-between mt-auto">
            <a href="{{ product.get_absolute_url }}"
               class="btn btn-md btn-outline-secondary align-self-end">View</a>

            <form action="{% url "cart:cart_add" product.id %}" method="POST">
                {% csrf_token %}
                {{ cart_product_form }}
                <input class="btn btn-md btn-outline-secondary mt-auto" type="submit" value="Add to cart">
            </form>
            {#            <a href="{% url 'cart:add_cart' product.id %}"#}
            {#               type="button"#}
            {#               class="btn btn-md btn-outline-secondary">Add to Cart</a>#}
        </div>
    </div>
</div>