{#  === displays product details in card === #}
{# Has access to 'product' from view which is an instance of the Product model. #}
{% load thumbnail %}
<div class="card shadow-md">
    {# === card image === #}
    <div class="text-center">
        <a href="{{ product.get_absolute_url }}">
            {% thumbnail product.image "360x240" crop='center' as im %}
                <img class="img-fluid rounded p-1" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
    </div>
    {# === card body === #}
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>{{ product.name|truncatechars:20 }}</h3>
            <p><strong>${{ product.price }}</strong></p>
        </div>
        <div class="d-flex">
            <p class="card-text">
                {{ product.description|truncatewords:10 }}
            </p>
        </div>
    </div>
    {# === card footer === #}
    <div class="card-footer my-1 bg-transparent">
        <div class="d-flex justify-content-between">
            <a href="{{ product.get_absolute_url }}"
               class="btn btn-md btn-outline-secondary">View</a>
            {% if product.available %}
                <form action="{% url "cart:cart_add" product.id %}" method="POST">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input class="btn btn-md btn-outline-primary" type="submit"
                           value="Add to cart">
                </form>
            {% else %}
                <p class="text-danger"><strong>SOLD OUT</strong></p>
            {% endif %}
        </div>
    </div>
</div>