{% extends 'base.html' %}
{% load static %}
{% block title %}
    | Checkout
{% endblock %}

{% block content %}
    <div class="min-vh-100">
        <div class="container d-flex justify-content-center my-4">
            {% if cart.contains_physical %}
                <h1>Please confirm your order and contact details below.</h1>
            {% else %}
                <h1>Please confirm your order below.</h1>
            {% endif %}
        </div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity x Price</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }} x {{ item.price }}</td>
                        <td>${{ item.total_price|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td><strong>${{ cart.get_total_price }}</strong></td>
                </tr>
                {% if cart.coupon %}
                    <tr>
                        <td>Discount</td>
                        <td>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)</td>
                        <td class="text-danger"><strong>-${{ cart.get_discount|floatformat:2 }}</strong></td>
                    </tr>
                    <tr>
                        <td>Total after discount</td>
                        <td></td>
                        <td class="neg"><strong>${{ cart.get_total_price_after_discount|floatformat:2 }}</strong></td>
                    </tr>
                {% endif %}
                </tfoot>
            </table>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-12">
                    <div id="form-contact-wrapper">
                        <h3 class="text-center">Contact Details</h3>
                        <form class="needs-validation" id="form">
                            {% csrf_token %}
                            {{ create_order_form }}
                            <input id="form-submit-btn" class="btn btn-success btn-block" type="submit"
                                   value="Continue">
                            <button class="btn btn-warning" id="make-payment">Test Pay</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="paypal-wrapper" class="hidden">
                        <h3 class="text-center mb-3">Pay with Paypal</h3>
                        <div class="box-element text-center" id="payment-info">
                            <!-- Set up a container element for the button -->
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="payment-loading" class="text-center hidden">
                        <img src="{% static 'icons/loading.gif' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdNZlEGk9DRXnyqxHrX1TtGXnZG6waft_BR1h29ZyFa9rznlSy0n_i7sdD36L_npPX30w-owj0hHt4ds&currency=CAD"></script>

    <script type="text/javascript">
        var form = document.getElementById('form');
        let formContactData = null
        csrftoken = form.getElementsByTagName('input')[0].value
        console.log("New token:", csrftoken)

        {# User submits contact details #}
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            console.log('contact form details')
            formContactData = {
                'first_name': form.id_first_name.value,
                'last_name': form.id_last_name.value,
                'email': form.id_email.value,
                'address': form.id_address.value,
                'postal_code': form.id_postal_code.value,
            }
            console.log('form data:', formContactData);

            // hide contact form, show payment form
            document.getElementById('form-contact-wrapper').classList.add('hidden')
            document.getElementById('paypal-wrapper').classList.remove('hidden')
        })
        {# === End contact form details === #}

        {# payment via pay pal #}
        const total_after_discount = '{{ cart.get_total_price_after_discount }}';
        paypal.Buttons({
            style: {
                color: 'blue',
                shape: 'pill',
                label: 'pay',
                height: 40
            },

            // Call your server to set up the transaction
            createOrder: function (data, actions) {
                document.getElementById('payment-loading').classList.remove('hidden');
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total_after_discount).toFixed(2)
                        }
                    }],

                    application_context: {
                        shipping_preference: 'NO_SHIPPING'
                    }
                })
            },

            // Call your server to finalize the transaction
            onApprove: function (data, actions) {
                console.log("data:", data)
                return actions.order.capture().then(function (details) {
                    console.log('Approved. Details: ', details)
                    submitPayment(data);
                });
            }

        }).render('#paypal-button-container');

        function submitPayment(data) {
            // submit form request.
            const url = "{% url 'orders:order_create' %}"
            console.log("Submit payment. Data:", data)
            let orderID = data.orderID
            console.log("Order id:", orderID)
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'Accept': 'application/json',
                },
                body: JSON.stringify({
                    'form_contact_data': formContactData,
                    'order_id': orderID,
                })
            }).then((res) => res.json()).then((data) => {
                console.log('Call complete.', data)
                window.location.href = "{% url 'shop:home' %}"
            })
        }

        {# === end payment via paypal #}
    </script>

{% endblock %}
