* {
    font-family: 'Chivo', sans-serif;
}

#home-hero {
    background-color: rgba(201, 200, 200, 0.4) !important;
    /*background-size: cover;*/
    /*background: url('static/personal/store_background.jpg') 50% 0 no-repeat fixed;*/
    /*color: white;*/
    /*height: 650px;*/
    /*padding: 100px 0 0 0;*/
    /*!*height: 100vh;*!*/
}

.personal-img {
    width: 200px;
    height: 200px;
}

.divider {
    margin: 5rem 0;
}

.footer {
    height: 200px;
}

.my-nav {
    background-image: linear-gradient(15deg, #0575E6 0%, #0764c0 100%);
}

form div.field {
    font-size: 13px;
    color: #666;
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0 10px;
    background: #efefef;
    border-radius: 4px;
}