#home-hero {
    background-color: rgba(220, 220, 220, 0.4) !important;
}

.personal-img {
    width: 200px;
    height: 200px;
}

.divider {
    margin: 5rem 0;
}

.footer {
    height: 200px;
}

.navbar-nav > li {
    /*border-right: 1px solid #a49c9c;*/
    /*margin-top: 2px;*/
}

.navbar-nav > li:last-child {
    border: none;
}